* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-background {
    background-image: url("/Registration/bgo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* filter: opacity(0.15); */
}
.mainLogo {
    padding-top: 50px;
}
.containerform {
    width: 40%;
    margin: auto;
}
.maininp{
    filter: drop-shadow(1px 5px 2px gray);
    border-radius: 5px;
}
#email,
#pass
{
    background-color: #f5f5f5;
    width: 100%;
    padding: 25px;
    border: none;
    outline: none;
}
#vectors{
    width: 15px;
}
.submitbtn {
    padding: 30px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin: auto;
    display: block;
    background-color: #f5f5f5;
    filter: drop-shadow(1px 5px 2px gray);
    font-size: 25px;
    font-weight: 600;
}
.already {
    color: red;
    text-align: center;
    cursor: pointer;
}
@media screen and (max-width:1024px) {
    .main-background {
        height: auto;
    }
}